{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <title>US states</title>
    </head>
    <body>
        <table>
        <tr><td><h2>Штаты США</h2></td>
        <td>
            <img alt="Great Seal of the United States (obverse).svg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Great_Seal_of_the_United_States_%28obverse%29.svg/220px-Great_Seal_of_the_United_States_%28obverse%29.svg.png" decoding="async" width="110" height="110">
        </td>
        </tr>
        </table>
        {% render_table table %}
        <p><a href="https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States">Источник</a></p>
    </body>
</html>
