{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>USA states</title>
    </head>
    <body>
        <table align="center">
        <tr>
            <td>
            <img src="{% static 'main/Flag_of_the_United_States.svg.png' %}"alt="Flag_of_the_United_States" width="100" height="66">
            </td>
            <td><h2>Штаты США</h2></td>
            <td>
            <img alt="Great Seal of the United States" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Great_Seal_of_the_United_States_%28obverse%29.svg/220px-Great_Seal_of_the_United_States_%28obverse%29.svg.png" decoding="async" width="80" height="80">
            </td>
        </tr>
        </table>
        {% render_table table %}
        <p><a href="https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States">Источник</a></p>
    </body>
</html>
